---
const { home, acercade, servicios, portafolio, contacto, lenguaje, aLenguaje, roles, subject} = Astro.props;
---

<div id="contenedor-carga">
  <div id="carga"></div>
  <img class="logo-carga" src="/src/logo.svg" alt="Juan Valderrama" />
</div>

<video
  src="/src/video.mp4"
  autoplay
  loop
  muted
  poster="/src/fondo.jpeg"
  id="video-banner"
></video>

<header
      class="d-flex container-fluid p-0 header flex-column seccion justify-content-between"
      id="home"
    >
      <nav
        class="container navbar navbar-expand-lg navbar-dark main-menu"
        aria-label="Offcanvas navbar large"
      >
        <div class="container-fluid menu-pegajoso">
          <a class="navbar-brand" href="#home">
            <img
              class="logo-default"
              src="/src/logo.svg"
              alt="Juan Valderrama"
              style="max-height: 70px"
            />
            <img
              class="logo-pegajoso"
              src="/src/simpleLogo.svg"
              alt="Juan Valderrama"
              style="max-height: 70px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2"
            title="button"
          >
            <span class="navbar"
              ><i class="bi bi-list" style="font-size: 40px"></i
            ></span>
          </button>
          <div
            class="offcanvas offcanvas-end bg-info"
            tabindex="-1"
            id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label"
          >
            <div class="offcanvas-header">
              <img
                src="/src/logo.svg"
                alt="Juan Valderrama"
                style="max-width: 80%; margin: auto"
              />
            </div>
            <div class="offcanvas-body">
              <ul
                class="navbar-nav justify-content-end flex-grow-1 pe-3 text-white text-center menu"
                id="menu-inicio"
              >
                <li class="nav-item text-white text-center">
                  <a
                    class="nav-link text-white text-center fw-0"
                    aria-current="page"
                    href="#home"
                    >{home}</a
                  >
                </li>
                <li class="nav-item text-white text-center">
                  <a
                    class="nav-link fw-0 text-white text-center"
                    href="#about"
                    >{acercade}</a
                  >
                </li>
                <li class="nav-item text-white text-center">
                  <a
                    class="nav-link fw-0 text-white text-center"
                    href="#services"
                    >{servicios}</a
                  >
                </li>
                <li class="nav-item text-white text-center">
                  <a
                    class="nav-link fw-0 text-white text-center"
                    href="#portfolio"
                    >{portafolio}</a
                  >
                </li>
                <li class="nav-item text-white text-center">
                  <a
                    class="nav-link fw-0 text-white text-center"
                    href="#contact"
                    >{contacto}</a
                  >
                </li>
                <li class="nav-item text-white text-center">
                  <a
                    class="nav-link fw-0 text-white text-center"
                    href={aLenguaje}
                    ><img src={`./src/${lenguaje}.png`} alt={lenguaje} width="20" height="20"></a
                  >
                </li>
              </ul>
            </div>
            <div
              class="menu-cerrar"
              style="
                width: 100%;
                padding: 2em;
                background-color: var(--primary);
              "
            >
              <button
                type="button"
                class="btn-close text-center"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </nav>


    <div
        class="d-flex justify-content-center titles-header flex-column justify-content-center align-content-center"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      <h2 class="text-white text-big text-center pb-3 h1-header"><i> {subject} <span class="text-primary">Juan</span> Valderrama</i></h2>
      <div class="contenedor p-header">
          <ul class="fs-3 text-white text-center">
            {roles.map(role => (
              <li>{role}</li>
          ))}
          </ul>             
      </div>

        <ul
          class="buttons-header nav nav-pills text-white justify-content-center pt-3"
        >
          <li class="nav-item p-0 mx-2">
            <a
              rel="noopener"
              href="https://www.linkedin.com/in/jsevalderrama/"
              class="nav-link text-white fs-5"
              target="_blank"
            >
              <i class="icono fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="nav-item p-0 mx-2">
            <a
              rel="noopener"
              href="https://github.com/juanchos0412"
              class="nav-link text-white fs-5"
              target="_blank"
            >
              <i class="icono fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="d-flex justify-content-center boton-continue flex-column justify-content-center align-content-center"
      >
        <p class="m-auto text-center">
          <i class="chevron bottom"></i
          ><a
            rel="noopener"
            href="#about"
            class="nav-link text-white fs-6 text-center text-scroll text-uppercase"
            > {acercade}</a
          >
        </p>
      </div>
    </header>