---
import Education from "./templates/Education.astro";
import Experiences from "./templates/Experiences.astro";

const {habilidades, experencia, educacion, educations, experiences} = Astro.props;
---

<section class="skill-secccion">
  <div class="container" style="padding: 6em 0 6em;">
      <div class="row">
          <div class="col-md-6 col-lg-4 my-3 aos-init" data-aos="fade-right" data-aos-duration="1200">
              <div class="sm-title">
                  <h4 class="font-alt">{educacion}</h4>
                  <hr class="separador text-primary border border-primary mb-4" style="width: 15%;">
              </div>
              <ul class="aducation-box bg-primary text-white" style="padding: 1.5em; margin-right: 2em;">
                  {Object.keys(educations).map(key => {
                    const education = educations[key];
                    return <Education key={key} {...education} />;
                  })}
              </ul>
          </div>
          <div class="col-md-6 col-lg-4 my-3 aos-init" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="100">
              <div class="sm-title">
                  <h4 class="font-alt">{experencia}</h4>
                  <hr class="separador text-primary border border-primary mb-4" style="width: 10%;">
              </div>
              <ul class="experience-box bg-info text-white" style="padding: 1.5em; margin-right: 2em;">
                  {Object.keys(experiences).map(key => {
                    const experience = experiences[key];
                    return <Experiences key={key} {...experience} />;
                  })}
              </ul>
          </div>
          <div class="col-md-6 col-lg-4 ml-auto my-3 aos-init" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
              <div class="sm-title">
                  <h4 class="font-alt">{habilidades}</h4>
                  <hr class="separador text-primary border border-primary mb-4" style="width: 10%;">
              </div>
              <ul class="aducation-box bg-secondary text-info" style="padding: 1.5em; margin-right: 2em;">
                  <li style="margin-left: 1.5em;">
                      <span class="fw-0 text-primary" style=" padding: 0; border-radius: 30px; font-size: 40px;">
                          <ul class="d-flex flex-wrap justify-content-start icons-seccion">
                              <li>
                                <svg class="svg-inline--fa fa-wordpress fa-w-16 icono" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="wordpress" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M61.7 169.4l101.5 278C92.2 413 43.3 340.2 43.3 256c0-30.9 6.6-60.1 18.4-86.6zm337.9 75.9c0-26.3-9.4-44.5-17.5-58.7-10.8-17.5-20.9-32.4-20.9-49.9 0-19.6 14.8-37.8 35.7-37.8.9 0 1.8.1 2.8.2-37.9-34.7-88.3-55.9-143.7-55.9-74.3 0-139.7 38.1-177.8 95.9 5 .2 9.7.3 13.7.3 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l77.5 230.4L249.8 247l-33.1-90.8c-11.5-.7-22.3-2-22.3-2-11.5-.7-10.1-18.2 1.3-17.5 0 0 35.1 2.7 56 2.7 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l76.9 228.7 21.2-70.9c9-29.4 16-50.5 16-68.7zm-139.9 29.3l-63.8 185.5c19.1 5.6 39.2 8.7 60.1 8.7 24.8 0 48.5-4.3 70.6-12.1-.6-.9-1.1-1.9-1.5-2.9l-65.4-179.2zm183-120.7c.9 6.8 1.4 14 1.4 21.9 0 21.6-4 45.8-16.2 76.2l-65 187.9C426.2 403 468.7 334.5 468.7 256c0-37-9.4-71.8-26-102.1zM504 256c0 136.8-111.3 248-248 248C119.2 504 8 392.7 8 256 8 119.2 119.2 8 256 8c136.7 0 248 111.2 248 248zm-11.4 0c0-130.5-106.2-236.6-236.6-236.6C125.5 19.4 19.4 125.5 19.4 256S125.6 492.6 256 492.6c130.5 0 236.6-106.1 236.6-236.6z"></path></svg><!-- <i class="icono fab fa-wordpress"></i> Font Awesome fontawesome.com -->
                              </li>
                              <li class="ml-2">
                                <!--?xml version="1.0" ?--><svg height="153px" preserveAspectRatio="xMidYMid" version="1.1" viewBox="0 0 256 153" width="256px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 512 512; height: 40px; width: auto;">
                                  <g><path d="M23.7586644,0 L232.137438,0 C245.324643,0 256,10.6753566 256,23.8625617 L256,103.404434 C256,116.591639 245.324643,127.266996 232.137438,127.266996 L157.409942,127.266996 L167.666657,152.385482 L122.558043,127.266996 L23.8633248,127.266996 C10.6761196,127.266996 0.000763038458,116.591639 0.000763038458,103.404434 L0.000763038458,23.8625617 C-0.10389732,10.7800169 10.5714592,0 23.7586644,0 L23.7586644,0 Z" fill="currentColor"></path><path d="M14.5781994,21.7495935 C16.0351099,19.7723577 18.2204758,18.7317073 21.1342969,18.5235772 C26.441614,18.1073171 29.4595002,20.604878 30.1879555,26.0162602 C33.4139717,47.7658537 36.9521831,66.1853659 40.6985246,81.2747967 L63.4887685,37.8796748 C65.5700693,33.9252033 68.1716953,31.8439024 71.2936465,31.6357724 C75.8725083,31.3235772 78.6822644,34.2373984 79.8269798,40.3772358 C82.4286059,54.2178862 85.7586872,65.9772358 89.7131587,75.9674797 C92.4188498,49.5349593 96.9977116,30.4910569 103.449744,18.7317073 C105.01072,15.8178862 107.300151,14.3609756 110.318037,14.1528455 C112.711533,13.9447154 114.896899,14.6731707 116.874134,16.2341463 C118.85137,17.795122 119.89202,19.7723577 120.100151,22.1658537 C120.204216,24.0390244 119.89202,25.6 119.0595,27.1609756 C115.000964,34.6536585 111.670882,47.2455285 108.965191,64.7284553 C106.363565,81.6910569 105.42698,94.9073171 106.05137,104.377236 C106.2595,106.978862 105.84324,109.268293 104.80259,111.245528 C103.553809,113.534959 101.680638,114.78374 99.2871424,114.99187 C96.5814514,115.2 93.7716953,113.95122 91.0660042,111.141463 C81.3879555,101.255285 73.6871424,86.4780488 68.0676303,66.8097561 C61.3034026,80.1300813 56.3082807,90.1203252 53.0822644,96.7804878 C46.942427,108.539837 41.739175,114.57561 37.3684433,114.887805 C34.5586872,115.095935 32.1651912,112.702439 30.0838904,107.707317 C24.7765733,94.0747967 19.0529961,67.7463415 12.9131587,28.7219512 C12.4968985,26.0162602 13.1212888,23.6227642 14.5781994,21.7495935 Z M238.213972,38.0878049 C234.46763,31.5317073 228.952183,27.5772358 221.563565,26.0162602 C219.586329,25.6 217.713159,25.3918699 215.944053,25.3918699 C205.953809,25.3918699 197.836736,30.595122 191.488768,41.001626 C186.077386,49.8471545 183.371695,59.6292683 183.371695,70.3479675 C183.371695,78.3609756 185.036736,85.2292683 188.366817,90.9528455 C192.113159,97.5089431 197.628606,101.463415 205.017224,103.02439 C206.99446,103.44065 208.86763,103.64878 210.636736,103.64878 C220.731045,103.64878 228.848118,98.4455285 235.09202,88.0390244 C240.503403,79.0894309 243.209094,69.3073171 243.209094,58.5886179 C243.313159,50.4715447 241.544053,43.7073171 238.213972,38.0878049 Z M225.101777,66.9138211 C223.644866,73.7821138 221.04324,78.8813008 217.192834,82.3154472 C214.174947,85.0211382 211.365191,86.1658537 208.763565,85.6455285 C206.266004,85.1252033 204.184703,82.9398374 202.623728,78.8813008 C201.374947,75.6552846 200.750557,72.4292683 200.750557,69.4113821 C200.750557,66.8097561 200.958687,64.2081301 201.479012,61.8146341 C202.415598,57.5479675 204.184703,53.3853659 206.99446,49.4308943 C210.428606,44.3317073 214.070882,42.2504065 217.817224,42.9788618 C220.314785,43.499187 222.396086,45.6845528 223.957061,49.7430894 C225.205842,52.9691057 225.830232,56.195122 225.830232,59.2130081 C225.830232,61.9186992 225.622102,64.5203252 225.101777,66.9138211 Z M173.069256,38.0878049 C169.322915,31.5317073 163.703403,27.5772358 156.41885,26.0162602 C154.441614,25.6 152.568443,25.3918699 150.799338,25.3918699 C140.809094,25.3918699 132.69202,30.595122 126.344053,41.001626 C120.932671,49.8471545 118.22698,59.6292683 118.22698,70.3479675 C118.22698,78.3609756 119.89202,85.2292683 123.222102,90.9528455 C126.968443,97.5089431 132.48389,101.463415 139.872508,103.02439 C141.849744,103.44065 143.722915,103.64878 145.49202,103.64878 C155.586329,103.64878 163.703403,98.4455285 169.947305,88.0390244 C175.358687,79.0894309 178.064378,69.3073171 178.064378,58.5886179 C178.064378,50.4715447 176.399338,43.7073171 173.069256,38.0878049 Z M159.852996,66.9138211 C158.396086,73.7821138 155.79446,78.8813008 151.944053,82.3154472 C148.926167,85.0211382 146.116411,86.1658537 143.514785,85.6455285 C141.017224,85.1252033 138.935923,82.9398374 137.374947,78.8813008 C136.126167,75.6552846 135.501777,72.4292683 135.501777,69.4113821 C135.501777,66.8097561 135.709907,64.2081301 136.230232,61.8146341 C137.166817,57.5479675 138.935923,53.3853659 141.745679,49.4308943 C145.179825,44.3317073 148.822102,42.2504065 152.568443,42.9788618 C155.066004,43.499187 157.147305,45.6845528 158.708281,49.7430894 C159.957061,52.9691057 160.581451,56.195122 160.581451,59.2130081 C160.685516,61.9186992 160.373321,64.5203252 159.852996,66.9138211 L159.852996,66.9138211 L159.852996,66.9138211 Z" fill="#FFFFFF" style="fill: #fff !important;"></path></g>
                                </svg>
                              </li>
                          </ul>
                          </span>
                      <h6 class="mt-2 fw-2" style="font-size: 18px;">Wordpress y Woocommerce</h6>
                      <p class="fw-0">Junior</p>
                  </li>
                  <li style="margin-left: 1.5em;">
                      <span class="fw-0 text-primary" style=" padding: 0; border-radius: 30px; font-size: 40px;">
                          <ul class="d-flex flex-wrap justify-content-start icons-seccion">
                              <li>
                                <svg class="svg-inline--fa fa-html5 fa-w-12 icono" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="html5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"></path></svg><!-- <i class="icono fab fa-html5"></i> Font Awesome fontawesome.com --></li>
                              <li>
                                <svg class="svg-inline--fa fa-css3 fa-w-16 icono mx-3" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="css3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M480 32l-64 368-223.3 80L0 400l19.6-94.8h82l-8 40.6L210 390.2l134.1-44.4 18.8-97.1H29.5l16-82h333.7l10.5-52.7H56.3l16.3-82H480z"></path></svg><!-- <i class="icono fab fa-css3 mx-3"></i> Font Awesome fontawesome.com -->
                              </li>
                              <li>
                                <svg class="svg-inline--fa fa-js fa-w-14 icono" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="js" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"></path></svg><!-- <i class="icono fab fa-js"></i> Font Awesome fontawesome.com -->
                              </li>        
                              <li>
                                <svg class="svg-inline--fa fa-bootstrap fa-w-18 icono mx-3" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="bootstrap" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M333.5,201.4c0-22.1-15.6-34.3-43-34.3h-50.4v71.2h42.5C315.4,238.2,333.5,225,333.5,201.4z M517,188.6 c-9.5-30.9-10.9-68.8-9.8-98.1c1.1-30.5-22.7-58.5-54.7-58.5H123.7c-32.1,0-55.8,28.1-54.7,58.5c1,29.3-0.3,67.2-9.8,98.1 c-9.6,31-25.7,50.6-52.2,53.1v28.5c26.4,2.5,42.6,22.1,52.2,53.1c9.5,30.9,10.9,68.8,9.8,98.1c-1.1,30.5,22.7,58.5,54.7,58.5h328.7 c32.1,0,55.8-28.1,54.7-58.5c-1-29.3,0.3-67.2,9.8-98.1c9.6-31,25.7-50.6,52.1-53.1v-28.5C542.7,239.2,526.5,219.6,517,188.6z M300.2,375.1h-97.9V136.8h97.4c43.3,0,71.7,23.4,71.7,59.4c0,25.3-19.1,47.9-43.5,51.8v1.3c33.2,3.6,55.5,26.6,55.5,58.3 C383.4,349.7,352.1,375.1,300.2,375.1z M290.2,266.4h-50.1v78.4h52.3c34.2,0,52.3-13.7,52.3-39.5 C344.7,279.6,326.1,266.4,290.2,266.4z"></path></svg><!-- <i class="icono fab fa-bootstrap mx-3"></i> Font Awesome fontawesome.com -->
                              </li>        
                              <li>
                                <svg class="svg-inline--fa fa-sass fa-w-20" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="sass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M301.84 378.92c-.3.6-.6 1.08 0 0zm249.13-87a131.16 131.16 0 0 0-58 13.5c-5.9-11.9-12-22.3-13-30.1-1.2-9.1-2.5-14.5-1.1-25.3s7.7-26.1 7.6-27.2-1.4-6.6-14.3-6.7-24 2.5-25.29 5.9a122.83 122.83 0 0 0-5.3 19.1c-2.3 11.7-25.79 53.5-39.09 75.3-4.4-8.5-8.1-16-8.9-22-1.2-9.1-2.5-14.5-1.1-25.3s7.7-26.1 7.6-27.2-1.4-6.6-14.29-6.7-24 2.5-25.3 5.9-2.7 11.4-5.3 19.1-33.89 77.3-42.08 95.4c-4.2 9.2-7.8 16.6-10.4 21.6-.4.8-.7 1.3-.9 1.7.3-.5.5-1 .5-.8-2.2 4.3-3.5 6.7-3.5 6.7v.1c-1.7 3.2-3.6 6.1-4.5 6.1-.6 0-1.9-8.4.3-19.9 4.7-24.2 15.8-61.8 15.7-63.1-.1-.7 2.1-7.2-7.3-10.7-9.1-3.3-12.4 2.2-13.2 2.2s-1.4 2-1.4 2 10.1-42.4-19.39-42.4c-18.4 0-44 20.2-56.58 38.5-7.9 4.3-25 13.6-43 23.5-6.9 3.8-14 7.7-20.7 11.4-.5-.5-.9-1-1.4-1.5-35.79-38.2-101.87-65.2-99.07-116.5 1-18.7 7.5-67.8 127.07-127.4 98-48.8 176.35-35.4 189.84-5.6 19.4 42.5-41.89 121.6-143.66 133-38.79 4.3-59.18-10.7-64.28-16.3-5.3-5.9-6.1-6.2-8.1-5.1-3.3 1.8-1.2 7 0 10.1 3 7.9 15.5 21.9 36.79 28.9 18.7 6.1 64.18 9.5 119.17-11.8 61.78-23.8 109.87-90.1 95.77-145.6C386.52 18.32 293-.18 204.57 31.22c-52.69 18.7-109.67 48.1-150.66 86.4-48.69 45.6-56.48 85.3-53.28 101.9 11.39 58.9 92.57 97.3 125.06 125.7-1.6.9-3.1 1.7-4.5 2.5-16.29 8.1-78.18 40.5-93.67 74.7-17.5 38.8 2.9 66.6 16.29 70.4 41.79 11.6 84.58-9.3 107.57-43.6s20.2-79.1 9.6-99.5c-.1-.3-.3-.5-.4-.8 4.2-2.5 8.5-5 12.8-7.5 8.29-4.9 16.39-9.4 23.49-13.3-4 10.8-6.9 23.8-8.4 42.6-1.8 22 7.3 50.5 19.1 61.7 5.2 4.9 11.49 5 15.39 5 13.8 0 20-11.4 26.89-25 8.5-16.6 16-35.9 16-35.9s-9.4 52.2 16.3 52.2c9.39 0 18.79-12.1 23-18.3v.1s.2-.4.7-1.2c1-1.5 1.5-2.4 1.5-2.4v-.3c3.8-6.5 12.1-21.4 24.59-46 16.2-31.8 31.69-71.5 31.69-71.5a201.24 201.24 0 0 0 6.2 25.8c2.8 9.5 8.7 19.9 13.4 30-3.8 5.2-6.1 8.2-6.1 8.2a.31.31 0 0 0 .1.2c-3 4-6.4 8.3-9.9 12.5-12.79 15.2-28 32.6-30 37.6-2.4 5.9-1.8 10.3 2.8 13.7 3.4 2.6 9.4 3 15.69 2.5 11.5-.8 19.6-3.6 23.5-5.4a82.2 82.2 0 0 0 20.19-10.6c12.5-9.2 20.1-22.4 19.4-39.8-.4-9.6-3.5-19.2-7.3-28.2 1.1-1.6 2.3-3.3 3.4-5C434.8 301.72 450.1 270 450.1 270a201.24 201.24 0 0 0 6.2 25.8c2.4 8.1 7.09 17 11.39 25.7-18.59 15.1-30.09 32.6-34.09 44.1-7.4 21.3-1.6 30.9 9.3 33.1 4.9 1 11.9-1.3 17.1-3.5a79.46 79.46 0 0 0 21.59-11.1c12.5-9.2 24.59-22.1 23.79-39.6-.3-7.9-2.5-15.8-5.4-23.4 15.7-6.6 36.09-10.2 62.09-7.2 55.68 6.5 66.58 41.3 64.48 55.8s-13.8 22.6-17.7 25-5.1 3.3-4.8 5.1c.5 2.6 2.3 2.5 5.6 1.9 4.6-.8 29.19-11.8 30.29-38.7 1.6-34-31.09-71.4-89-71.1zm-429.18 144.7c-18.39 20.1-44.19 27.7-55.28 21.3C54.61 451 59.31 421.42 82 400c13.8-13 31.59-25 43.39-32.4 2.7-1.6 6.6-4 11.4-6.9.8-.5 1.2-.7 1.2-.7.9-.6 1.9-1.1 2.9-1.7 8.29 30.4.3 57.2-19.1 78.3zm134.36-91.4c-6.4 15.7-19.89 55.7-28.09 53.6-7-1.8-11.3-32.3-1.4-62.3 5-15.1 15.6-33.1 21.9-40.1 10.09-11.3 21.19-14.9 23.79-10.4 3.5 5.9-12.2 49.4-16.2 59.2zm111 53c-2.7 1.4-5.2 2.3-6.4 1.6-.9-.5 1.1-2.4 1.1-2.4s13.9-14.9 19.4-21.7c3.2-4 6.9-8.7 10.89-13.9 0 .5.1 1 .1 1.6-.13 17.9-17.32 30-25.12 34.8zm85.58-19.5c-2-1.4-1.7-6.1 5-20.7 2.6-5.7 8.59-15.3 19-24.5a36.18 36.18 0 0 1 1.9 10.8c-.1 22.5-16.2 30.9-25.89 34.4z"></path></svg><!-- <i class="fab fa-brands fa-sass"></i> Font Awesome fontawesome.com -->
                              </li>        
                          </ul>
                      </span>
                      <h6 class="mt-2 fw-2" style="font-size: 18px;">Maquetación web</h6>
                      <p class="fw-0">Junior</p>
                  </li>
                  <li style="margin-left: 1.5em;">
                      <span class="fw-0 text-primary" style=" padding: 0; border-radius: 30px; font-size: 40px;">
                          <ul class="d-flex flex-wrap justify-content-start icons-seccion">
                              <li>
                                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 512 512; height: 50px; width: auto;" xml:space="preserve">
<style type="text/css">
.st0{fill:#027e9d;}
.st1{fill:#FFFFFF !important;}
</style>
<g>
<circle class="st0" cx="50" cy="51" r="49"></circle>
<path class="st1" d="M62.7,59.2c-2,2.2-4.8,3.3-6.1,3.3c-1.5,0-2.3-0.9-2.5-2.3c-0.1-0.5,0-1.1,0.1-1.6c0.5-3.1,1.6-5.1,1.6-5.6
c0-0.2-0.1-0.3-0.2-0.3c-1,0-4.4,3.5-4.9,5.8l-0.4,1.9c-0.3,1.3-1.5,2.1-2.4,2.1c-0.4,0-0.7-0.2-0.8-0.7c0-0.2,0-0.4,0-0.6l0.2-1
c-1.8,1.4-3.8,2.3-4.7,2.3c-1.3,0-2-0.7-2.2-1.7c-0.8,1.1-1.9,1.7-3.1,1.7c-1.5,0-2.9-1-3.6-2.5c-1,1.1-2.2,2.2-3.6,3.1
c-2.1,1.3-4.4,2.4-7.1,2.4c-2.5,0-4.7-1.3-5.8-2.4c-1.8-1.6-2.7-4.1-3-6.3c-0.9-7,3.4-16.3,10.1-20.3c1.5-0.9,3.2-1.4,4.8-1.4
c3.2,0,5.6,2.3,5.9,5c0.3,2.5-0.7,4.6-3.4,5.9c-1.4,0.7-2.1,0.7-2.3,0.3c-0.1-0.2-0.1-0.6,0.2-0.8c2.6-2.1,2.6-3.9,2.3-6.4
c-0.2-1.6-1.2-2.6-2.4-2.6C24.2,36.5,17,47.8,18,56c0.4,3.2,2.4,6.9,6.4,6.9c1.3,0,2.8-0.4,4-1c2.2-1.1,3.5-2,4.7-3.5
c-0.3-3.8,3-8.6,7.8-8.6c2.1,0,3.8,0.8,4,2.5c0.3,2.1-1.5,2.5-2.2,2.5c-0.6,0-1.5-0.2-1.6-0.7c-0.1-0.6,1.3-0.3,1.1-1.6
c-0.1-0.8-1-1.1-1.8-1.1c-3,0-4.7,4.2-4.4,6.8c0.1,1.2,0.8,2.4,1.8,2.4c0.9,0,2.2-1.3,2.6-3.1c0.3-1.3,1.5-2.1,2.4-2.1
c0.5,0,0.8,0.2,0.8,0.7c0,0.2,0,0.4,0,0.6c-0.1,0.5-0.5,2.4-0.5,2.7c0,0.3,0.2,0.8,0.8,0.8c0.5,0,2.1-0.9,3.7-2.3
c0.5-2.5,1.1-5.6,1.1-5.8c0.2-1,0.6-2.1,2.6-2.1c0.4,0,0.7,0.2,0.8,0.7c0,0.2,0,0.4,0,0.6L51.6,54c1.8-2.4,4.6-4.2,6.3-4.2
c0.7,0,1.3,0.4,1.4,1.1c0.1,0.4-0.1,1.1-0.3,1.9c-0.6,1.6-1.3,4.1-1.7,6.2c-0.1,0.5,0.1,1.1,0.9,1.1c0.7,0,2.8-0.8,4.5-3.1
c0-0.3,0-0.6,0-1c0-1.8,0.1-3.2,0.5-4.3c0.3-1.1,1.7-2.1,2.6-2.1c0.5,0,0.8,0.3,0.8,0.8c0,0.2,0,0.4-0.1,0.6c-0.6,1.9-1,3.6-1,5.3
c0,1,0.2,2.5,0.4,3.3c0,0.2,0.1,0.3,0.3,0.3c0.3,0,2.3-1.9,3.7-4.3c-1.3-0.8-2-2.3-2-4.1c0-3,1.8-4.6,3.6-4.6c1.4,0,2.6,1,2.6,3
c0,1.3-0.5,2.7-1.2,4.1c0,0,0.3,0,0.4,0c1.1,0,1.9-0.5,2.4-1.1c0.2-0.2,0.4-0.4,0.6-0.5c1.4-1.7,3.5-2.9,5.9-2.9
c2.1,0,3.8,0.8,4,2.5c0.3,2.1-1.6,2.6-2.2,2.6c-0.6,0-1.6-0.2-1.6-0.7c-0.1-0.5,1.3-0.3,1.2-1.6c-0.1-0.8-1-1.2-1.8-1.2
c-2.8,0-4.7,3.7-4.4,6.8c0.1,1.2,0.7,2.4,1.8,2.4c0.9,0,2.2-1.3,2.7-3.1c0.3-1.2,1.5-2.1,2.4-2.1c0.4,0,0.8,0.2,0.8,0.7
c0,0.3-0.1,0.8-0.5,2.8c-0.2,0.8-0.2,1.6-0.2,2.1c0.2,1.2,0.7,2,1.2,2.5c0.2,0.2,0.3,0.4,0.3,0.5c0,0.3-0.2,0.6-0.6,0.6
c-0.1,0-0.3,0-0.4-0.1c-2.2-0.9-3.1-2.4-3.3-3.7c-0.8,1.1-1.9,1.6-3.1,1.6c-1.9,0-3.8-1.7-4.1-3.9c-0.1-0.9,0-1.9,0.3-2.8
c-0.8,0.5-1.6,0.8-2.4,0.8c-0.3,0-0.5,0-0.7,0c-1.9,2.7-3.9,4.6-5.4,5.5c-0.6,0.3-1.2,0.5-1.6,0.5c-0.3,0-0.7-0.1-0.9-0.4
C63.1,61.4,62.8,60.4,62.7,59.2L62.7,59.2z M69.5,50.2c0,1.2,0.6,2.4,1.3,3.2c0.3-0.8,0.5-1.6,0.5-2.4c0-1.5-0.6-2.2-1-2.2
C69.7,48.8,69.5,49.6,69.5,50.2z"></path>
</g>
                                  </svg>
                              </li>
                              <li class="mx-3">
                                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 17.469 17.469" style="enable-background:new 0 0 512 512; height: 40px; width: auto;" xml:space="preserve">
                                      <g><path d="M5.925 4.982c-.442 0-.742.043-.898.087V7.91c.186.042.413.056.727.056 1.157 0 1.871-.585 1.871-1.571-.001-.884-.615-1.413-1.7-1.413z" fill="currentColor" data-original="#030104"></path><path d="M16.4.002H1.07C.479.002 0 .48 0 1.069v15.329c0 .59.479 1.069 1.07 1.069H16.4a1.07 1.07 0 0 0 1.069-1.069V1.07c0-.59-.479-1.068-1.069-1.068zM8.894 8.624c-.741.7-1.842 1.014-3.125 1.014a5.4 5.4 0 0 1-.743-.043v3.442H2.869V3.541c.671-.113 1.613-.199 2.942-.199 1.341 0 2.299.256 2.94.771.617.486 1.03 1.286 1.03 2.228s-.315 1.739-.887 2.283zm3.251 4.555c-.916 0-1.729-.198-2.258-.485l.385-1.556c.4.241 1.229.527 1.873.527.655 0 .927-.228.927-.586 0-.356-.214-.527-1.027-.799-1.442-.485-2-1.271-1.986-2.099 0-1.298 1.114-2.286 2.842-2.286.814 0 1.542.187 1.97.4l-.385 1.5c-.314-.172-.913-.399-1.514-.399-.527 0-.826.214-.826.571 0 .328.269.499 1.126.8 1.328.456 1.886 1.128 1.899 2.154 0 1.301-1.03 2.258-3.026 2.258z" fill="currentColor" data-original="#030104"></path></g>
                                  </svg>
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; height: 40px; width: auto;" xml:space="preserve">
                                      <g><path d="M390.65 175.9c26.08-17.14 43.33-46.65 43.33-80.11C433.98 42.97 391 0 338.18 0H173.82C121 0 78.02 42.97 78.02 95.79c0 33.46 17.25 62.97 43.33 80.11-26.08 17.13-43.33 46.64-43.33 80.1s17.25 62.97 43.33 80.11c-26.08 17.12-43.33 46.64-43.33 80.1 0 52.82 43.21 95.79 96.31 95.79 53.68 0 97.36-43.44 97.36-96.83v-88.34c17.02 15.51 39.63 24.96 64.41 24.96h2.08c52.82 0 95.8-42.97 95.8-95.79 0-33.46-17.25-62.97-43.33-80.1zM271.69 31.38h66.49c35.52 0 64.42 28.89 64.42 64.41s-28.9 64.42-64.42 64.42h-66.49V31.38zM109.4 95.79c0-35.52 28.9-64.41 64.42-64.41h66.49v128.83h-66.49c-35.52 0-64.42-28.9-64.42-64.42zm0 160.21c0-35.52 28.9-64.41 64.42-64.41h66.49v128.83h-66.9c-35.33-.22-64.01-29.04-64.01-64.42zm130.91 159.17c0 36.09-29.6 65.45-65.98 65.45-35.8 0-64.93-28.89-64.93-64.41s28.9-64.42 64.42-64.42h66.49v63.38zm97.87-94.75h-2.08c-35.52 0-64.41-28.9-64.41-64.42s28.89-64.41 64.41-64.41h2.08c35.52 0 64.42 28.89 64.42 64.41s-28.9 64.42-64.42 64.42z" fill="currentColor" data-original="#000000"></path><path d="M173.82 320.41c-.14 0-.27 0-.41.01h66.9v-.01h-66.49z" fill="#000000" data-original="#000000"></path></g>
                                  </svg>
                              </li>              
                          </ul>
                      </span>
                      <h6 class="mt-2 fw-2" style="font-size: 18px;">Canva, Photoshop, Figma</h6>
                      <p class="fw-0">Junior</p>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>